header {
	background-color: white;
	color: black;
}

body {
	background-color: #e9e9e9;
}

.logo {
	margin-left: 10px;
	width: 20%;
	display: inline-block;
}

.logo a img {
	width: 20px;
	height: auto;
}

.text {
	font-size: 10px;
	width: 70%;
	display: inline-block;
}

.subtitle {
	margin-left: 10px;
	border-bottom: 1px solid #E9E9E9;
}

.texto {
	margin-left: 10px;
	border-bottom: 1px solid #E9E9E9;

}

.cajita {
	margin-top: 20px;
	background-color: white;
	border: 1px solid #E9E9E9;
	border-radius: 10px;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.22);
}

.col-sm-1 {
	width: 50px;
	float: left;
}

.imagen {
	border-radius: 10px 10px 0;
}

.photo {
	display: inline-block;
	margin: 10px;
	width: 19%;
}

.name {
	display: inline-block;
	color: black;
	font-size: 10px;
}

.transparent {

}